.content{
    padding:10px;
}

.page-wrapper{
    min-height: 200%;
  }

#nextRow{
    margin-bottom: 450px;
}

.mat-card{
    max-width:300px;
    max-height:100px;
    margin:auto;
}

.mat-card-avatar{
    background-image:url('/assets/Images/Burger.jpg');
    background-size: cover;
}

.mat-card-actions{
    display:flex;
}

.mat-card-actions .flex-spacer{
    width:80%;
}
