<div class="page-wrapper">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-item active">
            <img src="/assets/Images/CategoryBackground.jpg" class="d-block w-100" alt="...">
        </div>
    </div> 

    <div class="cards-list">

        <div class="card 1" (click)="sendProductClick('Burger')">
            <div class="card_image"> <img src="/assets/Images/Burger.jpg" /> </div>
            <div class="card_title title-white">
                <p>BURGER</p>
            </div>
        </div>

        <div class="card 2" (click)="sendProductClick('Macarons')">
            <div class="card_image">
                <img src="/assets/Images/Macarons.jpg" />
            </div>
            <div class="card_title">
                <p id="title">MACARONS</p>
            </div>
        </div>

        <div class="card 3" (click)="sendProductClick('Pizza')">
            <div class="card_image">
                <img src="/assets/Images/Pizza.jpg" />
            </div>
            <div class="card_title">
                <p id="title">PIZZA</p>
            </div>
        </div>

        <div class="card 4" (click)="sendProductClick('Coffee')">
            <div class="card_image">
                <img src="/assets/Images/Coffee.jpg" />
            </div>
            <div class="card_title">
                <p id="title">COFFEE</p>
            </div>
        </div>
        <div class="card 5" (click)="sendProductClick('Coffee')">
            <div class="card_image">
                <img src="/assets/Images/Coffee.jpg" />
            </div>
            <div class="card_title">
                <p id="title">COFFEE</p>
            </div>
        </div>
        <div class="card 6" (click)="sendProductClick('Coffee')">
            <div class="card_image">
                <img src="/assets/Images/Coffee.jpg" />
            </div>
            <div class="card_title ">
                <p>COFFEE</p>
            </div>
        </div>
    </div>
</div>